{% autoescape off %}

Hi {{user.first_name}},
As Per your request we have send you the link to reset your account pasword.

Please click on the link to reset your password and enjoy shameless shopping. 
http://{{domain}}{% url 'resetpassword_validate' uidb64=uid token=token %}

We can't wait to see you on our platform. Happy shopping!

If you think it's not you, please ignore this email.
If you have any questions or need assistance, please contact our support team at support@chicchoicefashion.com.



Thnak You, 
Team ChicChoice

{% endautoescape %}